body, table{
    color: #353535;
}

.vertical-divider{
    border-right: 1px rgb(115, 115, 115) solid;
    padding-right: 5px;
}

.bg-disabled{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 5px;
    margin: 0px 5px;
}

.sidebar-dark .nav-item .nav-link span {
    font-size: .85rem;
    margin-right: .5rem;
}

.sidebar-dark .nav-item .nav-link svg {
    color: rgba(255,255,255,.3);
    font-size: .85rem;
    margin-right: .5rem;
}
.sidebar-dark .nav-item .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.collapse-item svg{
    margin-right: .5rem;
}

