.vertical-divider{
    border-right: 1px rgb(115, 115, 115) solid;
    padding-right: 5px;
}

.bg-disabled{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 5px;
    margin: 0px 5px;
}